// Brand Colours

$brandColor1: #006372; // Blue
$brandColor2: #ffffff; // White
$brandColor3: #333333; // Black

$darkColor: #333333;
$lightColor: #FFFFFF;


// Brand Fonts

$brandFont1: "Open Sans", "Helvetica", sans-serif;
$brandFont2: "Open Sans", "Helvetica", sans-serif;