.menu {
    // display: none;
    display: grid;
    background: $brandColor1;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 9999;
    padding: 30px;

    @include media(767) {
        position: relative;
        width: auto;
        height: auto;
        padding: inherit;
        grid-template-rows: 2;
        grid-column: 3;
        -ms-grid-column-align: end;
        // justify-self: end;
        padding: 0;
        background: inherit;
    }

    &.closed {
        display: none;

        @include media(767) {
            display: grid;
        }
    }

    .closeBtn {
        color:$lightColor;
        @include font-size(3.2);
        position: absolute;
        top: -10px;
        right: 10px;
    }

    .changeLang {
        @include font-size(1.6);
        border: 0;
        background: none;

        @include media(767) {
            grid-row: 1;
            justify-self: end;
            margin-bottom: 19px;
        }
    }


    .main-nav {
        display: flex;
        flex-direction: column;
        grid-row: 1;
        justify-self: end;

        @include media(767) {
            flex-direction: row;
            grid-row: 3;
            align-self: end;
        }

        a {
            margin: 25px 0;
            font-family: $brandFont1;
            @include font-size(1.8);

            @include media(767) {
                margin: 15px 25px 0;
            }
        }

        .btn-menu {
            border:1px solid $brandColor2;
            color:$brandColor2;
            margin: 15vh auto 0;
            max-width: 152px;

            @include media(767) {
                margin: 0 0 0 25px;
                color:$brandColor1;
                border: 0;
                background: $lightColor;
            }
        }
    }
}

@include media(767) {
    .menuCtrl {
        display: none;
    }
}